{% extends "CarBlog/index.html" %}

{% block content %}
<body>
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div align="center">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Создать авто!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}